.container-about {
  display: flex;
}
h3.about-titre {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
.content-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-left p {
  font-size: 2rem;
  text-align: justify;
  /* margin: 1rem 0; */
  margin-right: 8.5rem;
}
/* présentation ceo */
/* padding: 5rem 10%; */
section.container-ceo {
  display: flex;
  height: 75vh;
  width: 100%;
  background-color: #063175;
  padding: 0;
}
p.ceo-lin {
  height: 0.16rem;
  border-radius: 50%;
  width: 6rem;
  margin: 0;
  background-color: #eee;
}
p.ceo-petite-description {
  font-size: 1.5rem;
  font-weight: lighter;
}
div.ceo-desciption {
  width: 50%;
  padding: 5rem 10%;
}
.ceo-desciption * {
  color: #eee;
}
.ceo-picture {
  width: 50%;
  height: 100%;
}

div.ceo-picture img {
  height: inherit;
}
