.container-about{
    display:flex;
}
h3.about-titre{
    /* font-size: */
    font-size: 5rem;
    font-weight: 900;
    margin-bottom: 1rem;
}
.content-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content-left p{
    font-size: 2rem;
    text-align: justify;
    margin: 1rem 0;
    margin-right: 8.5rem;
}
