.container-projet{
    
    width: 100%;
    background-image: url("../images/bg-projet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container-projet *{
    color: #eeeeee;
}
.container-projet h3{
    color: #a8b8c7;
    width: 20%;
    margin-bottom: 3rem;
    font-size:2rem;
    font-weight:normal;
}
.box-projet{
    margin-top: 5rem;
    background-color:#032540;
    padding:4rem;
}
.container-projet h1{
    color: #eeeeee;
    width: 80%;
    font-size: 6rem;
    font-weight:900;
}
.container-content{
    /* height: fit-content; */
    display: flex;
    gap: 3rem;
}
.image-fist img{
    /* width: 40vh;
    height: 40vh; */
}