body{
    width: 100%;
    height: 100vh;
}
.services-hero{
    height: 70vh;
    width: 100%;
    background-image: url(../images/hero_service_origin.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 29% 20%    ;

}
.services-hero h1{
    font-weight: bold;
}
.content{
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    
}
.content-box *{
    color: #fff;
}
.content-box h1{
    font-size:9rem;
    width: 70%;
    font-weight: 900;
   }
.content-box p{
 font-size:13px;
 font-weight: normal;
}
.card{
    max-width: 24rem;
}
/* Presentation */
.presentation{
    display: flex;
    gap: 6rem;
    margin-top:-12rem;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
i.fa-icon{
    text-align: center;
    color: #1c4cbc;
    font-size:7rem;
}
.card-title{
    padding: 1rem 0;
    font-size: 1.5rem; 
    font-weight:bold;
}
.card-text{
    font-size: 1.4rem;
    font-weight:normal;

}